:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    background: linear-gradient(135deg, #cfe8dc, #a8d5ba);
    min-height: 100vh;
    color: #1f3d2b;
}

/* NAVBAR */

.navbar {
    width: 100%;
    height: 70px;
    background-color: #1f4d36;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.logout-btn {
    background-color: #ffffff;
    color: #1f4d36;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.logout-btn:hover {
    background-color: #e6f2ec;
}

.navbar h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 1.6rem;
    color: white;
}

/* CONTENIDO */

.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}


h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 2.4rem;
    margin-bottom: 30px;
}

.grafico-container {
    max-width: 500px;   /* tamaño máximo del gráfico */
    margin: 40px auto;  /* lo centra horizontalmente */
}

/* BOTONES PRINCIPALES */

button {
    background-color: #1f4d36;
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 14px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background-color: #163827;
    transform: translateY(-2px);
}